{% extends "layout.html" %}
{% set script_list = ['jquery.uploadify.min'] %}

{% block body %}
<div class="page-header">
  <h1>个人设置</h1>
</div>

<form class="form-horizontal" id="form" action="{{request.url}}" method="POST">
{% for message in get_flashed_messages() %}
  <div class="alert alert-{{message.type}}">{{ message.content }}</div>
{% endfor %}

<h4>提醒设置</h4>
  <div class="alert alert-danger">注：短信提醒需要收费（排版班长代付），请节约使用。</div>

  <table class="table table-striped">
    <tbody>
      {% for item in setting_list %}
        {% if session['is_arra_monitor'] or (not item.startswith('[班长]')) %}
      <tr>
        <th>{{ item  }}</th>
        <td><label class="checkbox">
          <input type="checkbox" name="c-{{ loop.index }}-1" value="1" {% if setting[loop.index~'-1'] %}checked{% endif %} /> 站内信
        </label>
        </td>
        <td><label class="checkbox">
          <input type="checkbox" name="c-{{ loop.index }}-2" value="1" {% if setting[loop.index~'-2'] %}checked{% endif %} /> 邮件提醒
        </label>
        </td>
        <td><label class="checkbox">
          <input type="checkbox" name="c-{{ loop.index }}-3" value="1" {% if setting[loop.index~'-3'] %}checked{% endif %} /> 客户端提醒
        </label>
        </td>
        <td><label class="checkbox">
          <input type="checkbox" name="c-{{ loop.index }}-4" value="1" {% if setting[loop.index~'-4'] %}checked{% endif %} /> 短信提醒
        </label>
        </td>
      </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>

<div class="form-actions">

  <a href="{{ url_for('mysettingreset') }}" class="btn">恢复默认</a>
  <button type="submit" class="btn btn-primary">保存</button>
</div>

</form>


{% endblock %}
