{% extends "layout_mobile.html" %}


{% block body %}

<div class="pagination-centered">
<p class="btn-group">
  <a class="btn{% if venuename=='all'%} active{% endif %}" href="{{ url_for('activitylist',venuename='all') }}">全部</a>
  <a class="btn{% if venuename=='513'%} active{% endif %}" href="{{ url_for('activitylist',venuename='513') }}">513</a>
  <a class="btn{% if venuename=='305'%} active{% endif %}" href="{{ url_for('activitylist',venuename='305') }}">305</a>
  <a class="btn{% if venuename=='d4'%} active{% endif %}" href="{{ url_for('activitylist',venuename='d4') }}">东四</a>
</p>
</div>
{% if activity_count %}
  {% for activity in activity_list %}
  <div class="activity-item">
  <div class="activity-time">{{ activity.start_time|timeformat('%m-%d') }} <br />
    {{ activity.start_time|timeformat('%H:%M') }} <br />
    {{ activity.start_time|dayname }}
  </div>
  <div class="activity-content{% if activity.status == config.CONST.ACTIVITY_CANCELED %} text-deleted{% endif %}">
  <div class="activity-title"> <a href="{{ url_for('activitydetail',activity_id=activity.id) }}">{{ activity.title }}</a></div>
  <span class="label label-{{ activity.venue|venuecolor }} pull-left">{{ activity.venue|venuename }}</span>
  <span class="activity-members">
    {% for duty in activity.duties %}
      {% if duty.is_success() %}
        <a href="{{ url_for('memberdetail',member_uid=duty.member.uid) }}">{{ duty.member.name }}</a>
        {% if duty.member.type == 3 %} <small class="text-warning">(实习)</small> {% endif %}
      {% endif %}
    {% endfor %}
  </span>
  <span class="label label-{{ activity.status|activitystatuscolor }} pull-right">{{ activity.status|activitystatusname }}</span>
  </div>
  </div>
  {% endfor %}

{% if page_count > 1 %}
<div class="pagination pagination-centered">
  <ul>
  <li{% if page_current == 1 %} class="active"{% endif %}>
      <a href="{% if page_current == 1 %}javascript:void(0);{% else %}{{ url_for('activitylist',pagenum=page_current-1,venuename=venuename) }}{% endif %}">&laquo;</a></li>
  {% for page in range(1,page_count+1) %}
  <li{% if page == page_current %} class="active"{% endif %}>
      <a href="{{ url_for('activitylist',pagenum=page,venuename=venuename) }}">{{ page }}</a></li>
  {% endfor %}
  <li{% if page_current == page_count %} class="active"{% endif %}>
      <a href="{% if page_current == page_count %}javascript:void(0);{% else %}{{ url_for('activitylist',pagenum=page_current+1,venuename=venuename) }}{% endif %}">&raquo;</a></li>
  </ul>
</div>
{% endif %}
{% else %}
  <p class="wrapper-mobile">
    {% if venuename=='all' %}
      暂时没有活动信息。
    {% else %}
      {{ config.CONST.venuename[config.CONST.venue.index(venuename)] }}暂时没有活动信息<br />
        <a href="{{ url_for('activitylist') }}">查看全部场地活动信息</a>。
    {% endif %}
  </p>
{% endif %}

{% endblock %}

