{% extends "layout.html" %}
{% from "manage_nav.html" import manage_nav %}

{% block body %}

{{manage_nav()}}

{% for message in get_flashed_messages() %}
  <div class="alert alert-{{message.type}}">{{ message.content }}</div>
{% endfor %}
<table class="table table-striped">
  <tr><th width='75'>日期</th><th width='40'>时间</th><th width='30'>地点</th><th>活动</th><th width="200">音控员</th><th>状态</th><th width='80'>操作</th></tr>
  {% for activity in activity_list %}
  <tr><td>{{ activity.start_time|timeformat('%Y-%m-%d') }}</td>
  <td>{{ activity.start_time|timeformat('%H:%M') }}</td>
  <td><span class="label label-{{ activity.venue|venuecolor }}">{{ activity.venue|venuename }}</span></td>
  <td><a href="{{ url_for('activitydetail',activity_id=activity.id) }}">{{ activity.title }}</a></td>
  <td>{% for duty in activity.duties %}<a href="{{ url_for('memberdetail',member_uid=duty.member.uid) }}">
      {{ duty.member.name }}</a> <small class="label label-{{ duty.status|dutystatuscolor }}"> ({{ duty.status|dutystatusname }})</small><br /> {% endfor %}</td>
  <td><span class="label label-{{ activity.status|activitystatuscolor }}">{{ activity.status|activitystatusname }}</span></td>
  <td><a class="btn btn-mini" href="{{ url_for('activityedit',activity_id=activity.id) }}">编辑</a>
    {% if activity.status %}
    <a class="btn btn-mini btn-success" href="{{ url_for('activityarrange',activity_id=activity.id) }}">排班</a>
    {% else %}
    <a class="btn btn-mini btn-warning" href="{{ url_for('activityready',activity_id=activity.id) }}">就绪</a>
    {% endif %}
  </td></tr>
  {% endfor %}
</table>
<!-- TODO <a class="btn btn-mini" href="{{ url_for('activityedit') }}">添加活动</a> -->
{% if page_count > 1 %}
<div class="pagination pagination-centered">
  <ul>
  <li{% if page_current == 1 %} class="active"{% endif %}>
      <a href="{% if page_current == 1 %}javascript:void(0);{% else %}{{ url_for('activitymanage',pagenum=page_current-1) }}{% endif %}">&laquo;</a></li>
  {% for page in range(1,page_count+1) %}
  <li{% if page == page_current %} class="active"{% endif %}>
      <a href="{{ url_for('activitymanage',pagenum=page) }}">{{ page }}</a></li>
  {% endfor %}
  <li{% if page_current == page_count %} class="active"{% endif %}>
      <a href="{% if page_current == page_count %}javascript:void(0);{% else %}{{ url_for('activitymanage',pagenum=page_current+1) }}{% endif %}">&raquo;</a></li>
  </ul>
</div>
{% endif %}

{% endblock %}
