{% extends "layout.html" %}
{% set css_list = ['bootstrap-datetimepicker.min', 'bootstrap-timepicker.min'] %}
{% set script_list = ['bootstrap-datetimepicker.min', 'bootstrap-datetimepicker.zh-CN', 'bootstrap-timepicker.min', 'mydatetimepicker'] %}

{% block body %}

<form class="form-horizontal" id="form" action="{{request.url}}" method="POST">
{% for message in get_flashed_messages() %}
  <div class="alert alert-{{message.type}}">{{ message.content }}</div>
{% endfor %}
<div class="row">
<div class="span4">
<h4>活动信息</h4>
  <div class="control-group{% if form.title.errors %} error{% endif %}">
    <label class="control-label" for="inputTitle">活动名称</label>
    <div class="controls">{{form.title()}}
    {% if form.title.errors %}
      <span class="help-inline">{% for message in form.title.errors %}{{ message }}<br />{% endfor %}</span>
    {% endif %}</div>
  </div>
  
  <div class="control-group{% if form.venue.errors %} error{% endif %}">
    <label class="control-label" for="inputVenue">活动场地</label>
    <div class="controls">{{form.venue()}}
    {% if form.venue.errors %}
      <span class="help-inline">{% for message in form.venue.errors %}{{ message }}<br />{% endfor %}</span>
    {% endif %}
    </div>
  </div>
  
  <div class="control-group{% if form.hostname.errors %} error{% endif %}">
    <label class="control-label" for="inputHost">主办方</label>
    <div class="controls">{{form.hostname()}}
    {% if form.hostname.errors %}
      <span class="help-inline">{% for message in form.hostname.errors %}{{ message }}<br />{% endfor %}</span>
    {% endif %}
    </div>
  </div>
  
  <div class="control-group{% if form.type.errors %} error{% endif %}">
    <label class="control-label" for="inputType">活动类型</label>
    <div class="controls">{{form.type()}}
    {% if form.type.errors %}
      <span class="help-inline">{% for message in form.type.errors %}{{ message }}<br />{% endfor %}</span>
    {% endif %}
    </div>
  </div>
  
  <div class="control-group{% if form.status.errors %} error{% endif %}">
    <label class="control-label" for="inputStatus">活动状态</label>
    <div class="controls">{{form.status()}}
    {% if form.status.errors %}
      <span class="help-inline">{% for message in form.status.errors %}{{ message }}<br />{% endfor %}</span>
    {% endif %}
    </div>
  </div>
<!--
  <div class="control-group">
    <label class="control-label" for="inputPassword">隐藏活动</label>
    <div class="controls"><label class="checkbox"><input type="checkbox">勾选不显示此活动</label></div>
  </div>
-->
</div>
<div class="span8">
<h4>时间信息</h4>

{{form.work_start_time( id="form_workstarttime_hidden" )}}
{{form.start_time( id="form_starttime_hidden" )}}
{{form.end_time( id="form_endtime_hidden" )}}

<div class="row">
  <div class="control-group span3{% if form.start_time.errors %} error{% endif %}">
    <label class="control-label" for="inputDate">日期</label>
    <div class="controls input-append date pull-left form_date">
      <input class="input-small" id="form_date_timepicker" type="text" placeholder="日期">
      <span class="add-on"><i class="icon-calendar"></i></span>
    </div>
  </div>
  
  <div class="control-group span3">
    <label class="control-label" for="inputWorkStartTime">值班时间</label>
    <div class="controls input-append bootstrap-timepicker pull-left form_workstarttime">
      <input id="form_workstarttime_timepicker" class="input-mini" type="text" placeholder="值班时间">
      <span class="add-on"><i class="icon-time"></i></span>
    </div>
  </div>

  <p class="control-group span2">
    <small>默认活动开始前一个小时</small>
  </p>
</div>
<div class="row">
  <div class="control-group span3">
    <label class="control-label" for="inputStartTime">活动时间</label>
    <div class="controls input-append bootstrap-timepicker pull-left form_starttime">
      <input id="form_starttime_timepicker" class="input-mini" type="text" placeholder="开始时间">
      <span class="add-on"><i class="icon-time"></i></span>
    </div>
  </div>

  <div class="control-group span3">
    <label class="control-label" for="inputEndTime">至</label>
    <div class="controls input-append bootstrap-timepicker pull-left form_endtime">
      <input id="form_endtime_timepicker" class="input-mini" type="text"  placeholder="结束时间">
      <span class="add-on"><i class="icon-time"></i></span>
    </div>
  </div>

  <p class="span2">
    <button type="button" id="form_endtime_cancel" class="btn btn-mini">删除结束时间</button>
  </p>
</div>
  
<hr />
<h4>备注信息</h4>
{{form.remark(rows="5", class="span8")}}

</div>
</div>

<div class="form-actions">
  {{ form.csrf_token }}
  {{ form.id() }}
  <button type="submit" class="btn btn-primary" data-loading-text="正在保存">保存</button>
  <a class="btn">取消</a>
</div>

</form>
<span class="hide" id="VAR_SEMESTER_BASE">{{config.SEMESTER_BASE}}</span>
{% endblock %}

