{% extends "layout_mobile.html" %}


{% block body %}


  {% for activity in activity_list %}
  <div class="activity-item">
  <div class="activity-time">{{ activity.start_time|timeformat('%m-%d') }} <br />
    {{ activity.start_time|timeformat('%H:%M') }} <br />
    {{ activity.start_time|dayname }}
  </div>
  <div class="activity-content">
  <div class="activity-title"> <a href="{{ url_for('activitydetail',activity_id=activity.id) }}">{{ activity.title }}</a></div>
  <span class="label label-{{ activity.venue|venuecolor }} pull-left">{{ activity.venue|venuename }}</span>
  <span class="activity-members">
    {% for duty in activity.duties %}
      {% if duty.is_success() %}
        <a href="{{ url_for('memberdetail',member_uid=duty.member.uid) }}">{{ duty.member.name }}</a>
        {% if duty.member.type == 3 %} <small class="text-warning">(实习)</small> {% endif %}
      {% endif %}
    {% endfor %}
  </span>
  <span class="label label-{{ activity.status|activitystatuscolor }} pull-right">{{ activity.status|activitystatusname }}</span>
  </div>
  </div>
  {% endfor %}

{% if page_count > 1 %}
<div class="pagination pagination-centered">
  <ul>
  <li{% if page_current == 1 %} class="active"{% endif %}>
      <a href="{% if page_current == 1 %}javascript:void(0);{% else %}{{ url_for('activitylist',pagenum=page_current-1) }}{% endif %}">&laquo;</a></li>
  {% for page in range(1,page_count+1) %}
  <li{% if page == page_current %} class="active"{% endif %}>
      <a href="{{ url_for('activitylist',pagenum=page) }}">{{ page }}</a></li>
  {% endfor %}
  <li{% if page_current == page_count %} class="active"{% endif %}>
      <a href="{% if page_current == page_count %}javascript:void(0);{% else %}{{ url_for('activitylist',pagenum=page_current+1) }}{% endif %}">&raquo;</a></li>
  </ul>
</div>
{% endif %}

{% endblock %}

