{% extends "layout_mobile.html" %}
{% set script_list = ['btn-loading', 'mycountdown', 'myconfirm'] %}

{% block body %}

{% for message in get_flashed_messages() %}
  <div class="alert alert-{{message.type}}">{{ message.content }}</div>
{% endfor %}

<div class="wrapper-mobile">

<h4>活动信息</h4>
  <p>值班时间: {{ activity.work_start_time|timeformat('%Y年%m月%d日') }} {{ activity.work_start_time|dayname }}
    {{ activity.work_start_time|periodname }} {{ activity.work_start_time|timeformat('%H:%M') }}</p>
  <p>活动时间: {{ activity.start_time|timeformat('%Y年%m月%d日') }} {{ activity.start_time|dayname }}
    {{ activity.start_time|periodname }} {{ activity.start_time|timeformat('%H:%M') }}</p>
  <p>地点: <span class="label label-{{ activity.venue|venuecolor }}">{{ activity.venue|venuename }}</span>
    状态: <span class="label label-{{ activity.status|activitystatuscolor }}">{{ activity.status|activitystatusname }}</span></p>
  <hr />
<h4>活动名称</h4>
  <p>{{ activity.title }}</p>
<hr />
<h4>活动备注</h4>
<p>{% if activity.remark %}{{ activity.remark }}{% else %}没有备注{% endif %}</p>

<hr />
{% if activity.status == config.CONST.ACTIVITY_ENDED %}
<p>活动已结束。</p>
{% elif activity.status == config.CONST.ACTIVITY_ONGOING %}
<p>活动正在进行中。 {% if is_success %}<a class="btn btn-default btn-mini modal-trigger" role="button" href="#myModal" data-toggle="modal"
    data-href="{{ url_for('activityterminate',activity_id=activity.id) }}"
    data-label="真的要结束活动吗?" data-content="请填写活动结束时间"
    data-require_select='1' data-start_time="{{activity.start_time}}">活动结束</a> {% endif %}</p>
{% elif activity.status == 1 %}
  <p><span id='activity_from_time_int' class='hide'>{{ activity.from_time() }}</span><span id='activity_from_time_str'></span> <br />
  {% if session.is_arra_monitor %}<a class="btn btn-danger btn-mini modal-trigger" role="button" href="#myModal" data-toggle="modal"
    data-href="{{ url_for('activitycancel',activity_id=activity.id) }}"
    data-label="真的要取消活动吗?" data-content="取消活动会通知所有值班的音控员"
    data-modal-loading-text="正在取消">取消活动</a>{% endif %}</p>
    {% if activity.start_time <= now %}<a class="btn btn-success btn-mini" href="{{ url_for('activitystart',activity_id=activity.id) }}">开始活动</a>{% endif %}
{% elif activity.status == config.CONST.ACTIVITY_CANCELED %}
<p>活动已取消。</p>
{% else %}
<p>活动尚未就绪。<a href="{{url_for('activityready',activity_id=activity.id)}}" class="btn btn-success btn-mini">活动就绪</a></p>
{% endif %}

<hr />

<h4>音控员</h4>
{% if activity.status != config.CONST.ACTIVITY_UNKNOWN %}
{% if activity.duties %}
  {% for duty in activity.duties %}
  <div class="duty-item">
    <div class="member-name"><a href="{{ url_for('memberdetail',member_uid=duty.member.uid)}}">{{duty.member.name}}</a></div>
    <div class="member-mobileshort">{{duty.member.mobile_short}}</div><div class="member-mobile">{{duty.member.mobile_num}}</div>
    <br />
    <div class="member-dutystatus">{{ duty.status|dutystatusname() }}</div>
    <div class="member-dutyoperation">
      {% if activity.status == config.CONST.ACTIVITY_SCHEDULING %}
      {% if session.uid == duty.member.uid %}{% for op in config.CONST.duty_status_operation_selfuser_mapper[duty.status] %}
        {% if config.CONST.dutyoperationname[op].content %}
          <a class="btn btn-{{config.CONST.dutyoperationname[op].color}} btn-mini modal-trigger" role="button" href="#myModal" data-toggle="modal"
            data-href="{{ url_for('activityoperation',duty_id=duty.id,operation=op) }}"
            data-label="{{config.CONST.dutyoperationname[op].title}}" data-content="{{config.CONST.dutyoperationname[op].content}}"
            {% if config.CONST.dutyoperationname[op].require_input %}data-require_input='1'{% endif %}
            {% if config.CONST.dutyoperationname[op].loading %}data-modal-loading-text="{{config.CONST.dutyoperationname[op].loading}}"{% endif %}>
          {{config.CONST.dutyoperationname[op].title}}</a>
        {% else %}
          <a class="btn btn-{{config.CONST.dutyoperationname[op].color}} btn-mini" href="{{ url_for('activityoperation',duty_id=duty.id,operation=op) }}"
             {% if config.CONST.dutyoperationname[op].loading %}data-loading-text="{{config.CONST.dutyoperationname[op].loading}}"{% endif %}>
          {{config.CONST.dutyoperationname[op].title}}</a>
        {% endif %}
      {% endfor %}{% endif %}
      {% if not is_busy and session.uid != duty.member.uid %}{% for op in config.CONST.duty_status_operation_otheruser_mapper[duty.status] %}
        {% if config.CONST.dutyoperationname[op].content %}
          <a class="btn btn-{{config.CONST.dutyoperationname[op].color}} btn-mini modal-trigger" role="button" href="#myModal" data-toggle="modal"
            data-href="{{ url_for('activityoperation',duty_id=duty.id,operation=op) }}"
            data-label="{{config.CONST.dutyoperationname[op].title}}" data-content="{{config.CONST.dutyoperationname[op].content}}"
            {% if config.CONST.dutyoperationname[op].require_input %}data-require_input='1'{% endif %}
            {% if config.CONST.dutyoperationname[op].loading %}data-modal-loading-text="{{config.CONST.dutyoperationname[op].loading}}"{% endif %}>
          {{config.CONST.dutyoperationname[op].title}}</a>
        {% else %}
          <a href="{{ url_for('activityoperation',duty_id=duty.id,operation=op) }}" class="btn btn-{{config.CONST.dutyoperationname[op].color}} btn-mini"
             {% if config.CONST.dutyoperationname[op].loading %}data-loading-text="{{config.CONST.dutyoperationname[op].loading}}"{% endif %}>
          {{config.CONST.dutyoperationname[op].title}}</a>
        {% endif %}
      {% endfor %}{% endif %}
      {% if session.is_arra_monitor %}{% for op in config.CONST.duty_status_operation_monitor_mapper[duty.status] %}
        {% if config.CONST.dutyoperationname[op].content %}
          <a class="btn btn-{{config.CONST.dutyoperationname[op].color}} btn-mini modal-trigger" role="button" href="#myModal" data-toggle="modal"
            data-href="{{ url_for('activityoperation',duty_id=duty.id,operation=op) }}"
            data-label="{{config.CONST.dutyoperationname[op].title}}" data-content="{{config.CONST.dutyoperationname[op].content}}"
            {% if config.CONST.dutyoperationname[op].require_input %}data-require_input='1'{% endif %}
            {% if config.CONST.dutyoperationname[op].loading %}data-modal-loading-text="{{config.CONST.dutyoperationname[op].loading}}"{% endif %}>
          {{config.CONST.dutyoperationname[op].title}}</a>
        {% else %}
        <a href="{{ url_for('activityoperation',duty_id=duty.id,operation=op) }}" class="btn btn-{{config.CONST.dutyoperationname[op].color}} btn-mini"
           {% if config.CONST.dutyoperationname[op].loading %}data-loading-text="{{config.CONST.dutyoperationname[op].loading}}"{% endif %}>
          {{config.CONST.dutyoperationname[op].title}}</a>
        {% endif %}
      {% endfor %}{% endif %}
      {% endif %}
    </div>
  </div>
  {% endfor %}
{% else %}
<p>没有音控员被分派到此活动。</p>{% endif %}
<hr />
{% if not is_busy and activity.status == config.CONST.ACTIVITY_SCHEDULING %}
  <p>{% if on_schedule %}你有“{{ on_schedule }}”。{% else %}你有空闲时间，可以申请此次活动。{% endif %}
  <a class="btn btn-default btn-mini modal-trigger" role="button" href="#myModal" data-toggle="modal"
   data-href="{{url_for('activityapply',activity_id=activity.id)}}"
   data-label="申请值班" data-content="仅能申请一周内的活动，申请值班成功后不可以拒绝" data-require_input='1' data-modal-loading-text="正在申请">申请值班</a>
</p>{% endif %}
{% else %}
<p>活动尚未就绪。</p>
{% endif %}
<hr />
<h4>值班记录</h4>
{% if activity.duties %}
<table class="table table-striped">
<!-- # TODO bug but not care  -->
  {% for duty in activity.duties %}
  {% for log in duty.getlogs() %}
  <tr><td>{{ duty.member.name }}</td><td>{{ log.time|timeformat('%Y-%m-%d %H:%M') }}</td><td>{{ log.type|dutylogtypename() }}</td></tr>
  <tr><td colspan="3">{{ log.content }}</td></tr>
  {% endfor %}
  {% endfor %}
</table>
{% else %}
<p>暂时还没有值班记录。</p>
{% endif %}
<!-- # TODO -->
{% if is_busy and ( activity.status == config.CONST.ACTIVITY_ONGOING or activity.status == config.CONST.ACTIVITY_ENDED ) %}
<div class="alert alert-error hide" id="submit_message_notice"> </div>
<div class="input-prepend">
  <span class="add-on">类型</span>
  <select class="" id="submit_message_type">
  <option value="">选择类型</option>
  {% for a in config.CONST.dutylogtypename.keys() %}
  <option value="{{ a }}">{{ config.CONST.dutylogtypename[a] }}</option>
  {% endfor %}
  </select>
</div>
<div class="input-append">
  <input class="" id="submit_message_input" type="text">
  <a class="btn dropdown-toggle" id="submit_message_button">提交</a>
</div>

{% endif %}


 
<!-- Modal -->

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <form id="myModalform" class="form_no_margin" action="" method="post">
  <div class="modal-header">
    <a type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
    <h3 id="myModalLabel"></h3>
  </div>
  <div class="modal-body">
    <div id="myModalContent"></div>
    <input id="myModalInput" name="content" type="text" />
    <select id="myModalSelect" name="end_time"></select>
  </div>
  <div class="modal-footer">
    <a data-dismiss="modal" aria-hidden="true" class="btn">取消</a>
    <button id="myModalButton" href="#" class="btn" data-loading-text ></button>
  </div>
  </form>
</div>
</div>

{% endblock %}

{% block custom_script %}
<script>

$('#submit_message_button').click(function(){
    var type = $('#submit_message_type').val();
    var content = $('#submit_message_input').val();
    if (type=='') {
        $('#submit_message_notice').html('类型不能为空。');
        $('#submit_message_notice').removeClass('hide');
    }
    else if (content=='') {
        $('#submit_message_notice').html('内容不能为空。');
        $('#submit_message_notice').removeClass('hide');
    }
    else {
        $.post(location.href,{type:type,content:content},function(data){
            if(data.result=='ok') {
                $('#submit_message_type').val('');
                $('#submit_message_input').val('');
                window.location.reload();
            }
            else {
                $('#submit_message_notice').html(data.msg);
                $('#submit_message_notice').removeClass('hide');
            }
        }, "json")
    }
})
</script>

{% endblock %}