{% extends "layout_mobile.html" %}


{% block body %}
<div class="wrapper-mobile">
<form class="form-horizontal" action="{{request.url}}" method="post">

<h4>请填写新的学号</h4><br />
  {% for message in get_flashed_messages() %}
    <div class="alert alert-{{message.type}}">{{ message.content }}</div>
  {% endfor %}
  <p class="alert">
    更改学号功能仅供以下情况使用<br />
    □ 学号填写错误的同学<br />
    □ 本校读研的同学<br />
    其他音控员不得随意更改学号。
  </p>
  <div class="control-group">
    <label class="control-label">原始学号</label>
    <div class="controls"><span class="uneditable-input">{{session['uid']}}</span></div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputUidNew">新学号</label>
    <div class="controls"><input type="text" name="uid_new" placeholder="新学号"></div>
  </div>

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">更改学号</button>
      <a class="btn" href="{{url_for('myinfo')}}">返回个人信息</a>
    </div>
  </div>

</form>
</div>

{% endblock %}
