{% extends "layout.html" %}
{% set script_list = ['btn-loading'] %}

{% block body %}

<form class="form-horizontal" action="{{ url_for('forgetpassword') }}" method="POST">
<div class="row">
<div class="span6 offset3">
<h4>请填写基本信息</h4><br />
{% for message in get_flashed_messages() %}
  <div class="alert alert-{{message.type}}">{{ message.content }}</div>
{% endfor %}
  <div class="control-group">
    <label class="control-label" for="inputUid">学号</label>
    <div class="controls"><input name="username" type="text" placeholder="学号"></div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputEmail">电子邮箱</label>
    <div class="controls"><input name="email" type="text" placeholder="电子邮箱"></div>
  </div>

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary" data-loading-text="正在发送邮件">发送验证邮件</button>
      <a class="btn" href="{{ url_for('login') }}">登录</a>
      <a class="btn" href="{{ url_for('register') }}">注册</a>
    </div>
  </div>

</div>
</div>
</form>

{% endblock %}

