{% extends "layout_mobile.html" %}


{% block body %}
<div class="wrapper-mobile">
<div class="cms-row">
<div class="cms-div">
<h4>最新文章 <small class="pull-right"><a href="{{url_for('articlelist')}}">查看更多</a></small></h4>
<ul class="long-text">
{% for article in article_list %}
  <li><span class="label label-info">{{article.cate_id|categoryname}}</span> <a href="{{url_for('articledetail',article_title=article.title)}}">{{article.title}}</a></li>
{% endfor %}
</ul>
</div>
</div>

<div class="cms-row">
<div class="cms-div">
<h4>本月值班排名 <small class="pull-right"><a href="{{url_for('ranklist')}}">查看更多</a></small></h4>
<ul>
  {% for rank in rank_list %}
  <li><span class="badge badge-warning">{{rank.rank}}</span> <a href="{{ url_for('memberdetail',member_uid=rank.uid) }}">{{rank.name}}</a><span class="label label-inverse pull-right">{{rank.time/3600}} 小时</span></li>
  {% endfor %}
</ul>
</div>
</div>

<div class="cms-row">
<div class="cms-div">
<h4>我的活动 <small class="pull-right"><a href="{{url_for('myactivity')}}">查看更多</a></small></h4>
<ul class="long-text">
  {% if duty_list.count() %}
  {% for duty in duty_list %}
  <li><span class="label label-{{ duty.activity.venue|venuecolor }}">{{duty.activity.venue|venuename}}</span>
      <strong>{{duty.activity.start_time|timeformat('%m月%d日')}} {{duty.activity.start_time|dayname()}}
          {{duty.activity.start_time|timeformat('%H:%M')}} </strong>
      <span class="label label-{{ duty.activity.status|activitystatuscolor }}">{{duty.activity.status|activitystatusname()}}</span></li>
  <li> <a href="{{url_for('activitydetail',activity_id=duty.activity.id)}}">{{duty.activity.title}}</a></li>
  {% endfor %}
  {% else %}
  <li>你当前没有活动。</li>
  {% endif %}
</ul>
</div>
</div>

<div class="cms-row">
<div class="cms-div">
<h4>近期活动 <small class="pull-right"><a href="{{url_for('activitylist')}}">查看更多</a></small></h4>
<ul class="longtext">
{% for activity in activity_list %}
  <li><span class="label label-{{ activity.venue|venuecolor }}">{{activity.venue|venuename}}</span> {{activity.start_time|timeformat('%Y年%m月%d日')}}
      {{activity.start_time|dayname()}} {{activity.start_time|timeformat('%H:%M')}} <br />
      <a href="{{url_for('activitydetail',activity_id=activity.id)}}">{{activity.title}}</a></li>
{% endfor %}
</ul>
</div>
</div>

</div>

{% endblock %}
