{% extends "layout.html" %}


{% block body %}

<div class="row">
<div class="span6 offset3 text-center">
<h3>下载手机APP</h3>
</div>
</div>

<div class="row">
<div class="span4">
<h3>Android 版</h3>
<p>{{ data.android.version }}</p>
<p><a href='{{url_for('download_app', platform='android') }}'>下载</a></p>
</div>

<div class="span4">
<h3>ios 版</h3>
<p>{{ data.ios.version }}</p>
<p><a href='{{url_for('download_app', platform='ios') }}'>下载</a></p>
</div>

<div class="span4">
<h3>Windows Phone 版</h3>
<p>{{ data.winphone.version }}</p>
<p><a href='{{url_for('download_app', platform='winphone') }}'>下载</a></p>
</div>

</div>


{% endblock %}
