{% extends "layout_mobile.html" %}


{% block body %}
<div class="wrapper-mobile">
<form class="form-horizontal" action="{{request.url}}" method="post">

<h4>请填写新的密码</h4><br />
  {% for message in get_flashed_messages() %}
    <div class="alert alert-{{message.type}}">{{ message.content }}</div>
  {% endfor %}
  <div class="control-group">
    <label class="control-label" for="inputPassword">新密码</label>
    <div class="controls"><input type="password" name="password" placeholder="新密码"></div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputPasswordConfirm">确认密码</label>
    <div class="controls"><input type="password" name="password_confirm" placeholder="确认密码"></div>
  </div>

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">更改密码</button>
    </div>
  </div>

</form>
</div>
{% endblock %}
