{% extends "layout.html" %}
{% from "manage_nav.html" import manage_nav %}

{% block body %}
{{manage_nav()}}
{% for message in get_flashed_messages() %}
  <div class="alert alert-{{message.type}}">{{ message.content }}</div>
{% endfor %}

<table class="table table-striped">
  <tr><th width='50'>姓名</th><th width='80'>日期</th><th width='90'>时间</th><th width='30'>时长</th><th width='30'>场地</th><th>活动名称</th><th width='70'>任务状态</th></tr>
  <tr><td><a href="{{url_for('memberdetail',member_uid=duty.uid)}}">{{duty.member.name}}</a></td>
  <td>{{ duty.activity.work_start_time()|timeformat('%Y-%m-%d') }}</td>
  <td>{{ duty.activity.work_start_time()|timeformat('%H:%M') }} - {% if duty.activity.end_time %}{{ duty.activity.end_time|timeformat('%H:%M') }}{% else %} ? {% endif %}</td>
  <td>{% if duty.activity.work_last_time() != 0.0 %}{{ duty.activity.work_last_time() }}{% endif %}</td>
  <td><span class="label label-{{ duty.activity.venue|venuecolor }}">{{ duty.activity.venue|venuename }}</span></td>
  <td><a href="{{url_for('activitydetail',activity_id=duty.aid)}}">{{ duty.activity.title }}</a></td>
  <td><span class="label label-{{ duty.status|dutystatuscolor }}">{{ duty.status|dutystatusname }}</span></td>
  </tr>
</table>
<hr />

<form class="form-horizontal" id="form" action="{{request.url}}" method="POST">
<div class="alert alert-danger">谨慎修改以下信息</div>

<div class="row">
<div class="span4">
  <div class="control-group{% if form.aid.errors %} error{% endif %}">
    <label class="control-label" for="inputAid">活动ID</label>
    <div class="controls">{{form.aid(class="span1")}}
    {% if form.aid.errors %}
      <span class="help-inline">{% for message in form.aid.errors %}{{ message }}<br />{% endfor %}</span>
    {% endif %}</div>
  </div>
</div>
<div class="span4">
  <div class="control-group{% if form.uid.errors %} error{% endif %}">
    <label class="control-label" for="inputUid">用户ID</label>
    <div class="controls">{{form.uid(class="span2")}}
    {% if form.uid.errors %}
      <span class="help-inline">{% for message in form.uid.errors %}{{ message }}<br />{% endfor %}</span>
    {% endif %}
    </div>
  </div>
</div>
<div class="span4">
  <div class="control-group{% if form.status.errors %} error{% endif %}">
    <label class="control-label" for="inputStatus">值班状态</label>
    <div class="controls">{{form.status(class="span3")}}
    {% if form.status.errors %}
      <span class="help-inline">{% for message in form.status.errors %}{{ message }}<br />{% endfor %}</span>
    {% endif %}
    </div>
  </div>
</div>
</div>

<div class="row">
<div class="span6">
<h4>流程</h4>
<pre>{{ duty.process }}</pre>

</div>
<div class="span6">
<h4>记录</h4>
<pre>{{ duty.log }}</pre>

</div>
</div>

<div class="form-actions">
  {{ form.csrf_token }}
  {{ form.id() }}
  <button type="submit" class="btn btn-primary">保存</button>
  <a class="btn">取消</a>
</div>

</form>

{% endblock %}
