{% extends "layout_mobile.html" %}


{% block body %}

<div class="wrapper-mobile">

{% for activity in activity_list %}
<p>{{ activity.start_time|timeformat('%Y年%m月%d日') }} {{ activity.start_time|dayname() }}
{{ activity.work_start_time|timeformat('%H:%M') }} - {% if activity.end_time %}{{ activity.end_time|timeformat('%H:%M') }}{% else %}?{% endif %} </p>
<p> 地点: {{ activity.venue|venuename() }} </p>
<p> 活动: {{activity.title}} </p>
<p>
{% for duty in activity.duties %}
  {% for log in duty.getlogs() %}
  {{ duty.member.name }}: [{{ log.type|dutylogtypename() }}] {{ log.content }} <br />
  {% endfor %}
{% endfor %}
</p>
<hr />
{% endfor %}

{% if page_count > 1 %}
<div class="pagination pagination-centered">
  <ul>
  <li{% if page_current == 1 %} class="active"{% endif %}><a href="{% if page_current == 1 %}javascript:void(0);{% else %}{{ url_for('dutylist',pagenum=page_current-1) }}{% endif %}">&laquo;</a></li>
  {% for page in range(1,page_count+1) %}
  <li{% if page == page_current %} class="active"{% endif %}><a href="{{ url_for('dutylist',pagenum=page) }}">{{ page }}</a></li>
  {% endfor %}
  <li{% if page_current == page_count %} class="active"{% endif %}><a href="{% if page_current == page_count %}javascript:void(0);{% else %}{{ url_for('dutylist',pagenum=page_current+1) }}{% endif %}">&raquo;</a></li>
  </ul>
</div>
{% endif %}

</div>

{% endblock %}
