{% extends "layout.html" %}
{% from "manage_nav.html" import manage_nav %}

{% block body %}
{{manage_nav()}}

{% if mail_list %}
<table class="table table-striped">
  <tr><th width='30'>MID</th><th width='150'>发送时间</th><th width='60'>接收者</th><th>接收邮箱</th><th>主题</th></tr>
  {% for mail in mail_list %}
  <tr><td>{{mail.msgid}}</td>
  <td>{{mail.sendtime|timeformat('%Y-%m-%d %H:%M:%S')}}</td>
  <td>{% if mail.touid %}<a href="{{ url_for('memberdetail',member_uid=mail.touid) }}">{{mail.tousername}}</a>{% else %}{{mail.tousername}}{% endif %}</td>
  <td>{{mail.tousermail}}</td>
  <td>{% if mail.msgid %}<a href="{{ url_for('mymessagedetail',message_id=mail.msgid) }}">{{mail.subject}}</a>{% else %}{{mail.subject}}{% endif %}</td>
  </tr>
  {% endfor %}
</table>


{% else %}
<p>你暂时没有消息。</p>
{% endif %}

{% endblock %}
