{% extends "layout.html" %}
{% from "wysiwyg.html" import wysiwyg %}
{% set css_list = ['font-awesome','select2','select2-bootstrap'] %}
{% set script_list = ['bootstrap-wysiwyg','jquery.hotkeys','mybootstrap-wysiwyg','select2.min','mod.udatas'] %}

{% block body %}

<form id="form" action="" method="POST">
<div class="row">
<div class="span3">
  <p><a class="btn" href="{{url_for('mymessage')}}">返回消息列表</a> </p>
  <select class="contact-input span3" name="sendto" id="contact-input" multiple></select>
</div>
<div class="span9">
  <div class="row">
    <div class="span8"><input class="span8" type="text" name="subject" placeholder="消息主题"></div>
    <div class="span1"><button class="btn btn-primary" type="submit">发送</button></div>
  </div>

  {{ wysiwyg() }}
  <input type="hidden" name="content" id="content-input">
  <div id="editor">
  </div>
</div>
</div>
</form>

{% endblock %}

{% block custom_script %}
<script>
$(document).ready(function() {
    $.ajax({
        type: "GET",
        cache:false,
        url: 'memberjson',
        dataType:"json",
        success: function(response) {
            //console.log(response);
            for( i in response) {
                //console.log(response[i]);
                $('#contact-input').append('<option value="'+response[i].uid+'">'+response[i].name+' ('+response[i].school+')</option>');
            };
        }
    });

    $("#contact-input").select2({
        placeholder: "选择收件人",
	    allowClear: true,
        matcher: function(term, text) {
            var mod = ZhToPinyin(text);
            var reg = new RegExp("[a-z]+","g"); //创建正则RegExp对象
            var capmod = mod.replace(reg,"");
            var tf0 = text.indexOf(term.toUpperCase())>=0;
            var tf1 = mod.toUpperCase().indexOf(term.toUpperCase())>=0;
            var tf2 = capmod.toUpperCase().indexOf(term.toUpperCase())>=0;
            return tf0||tf1||tf2;
        }
    });
});


</script>
{% endblock %}
