{% extends "layout_mobile.html" %}


{% block body %}

{% for message in get_flashed_messages() %}
  <div class="alert alert-{{message.type}}">{{ message.content }}</div>
{% endfor %}


{% if message_list %}
<table class="table table-striped">
  <tr><th>发送时间</th><th>主题</th></tr>
  {% for message in message_list %}
  <tr>
  <td><span title="{{message.sendtime|timeformat('%Y-%m-%d %H:%M:%S')}}">{{message.sendtime|friendlytime()}}</span></td>
  <td><a href="{{url_for('mymessagedetail', message_id=message.id)}}">{{message.subject|striptags|escape|truncate(length=20,end='...',killwords=True)}}</a>
    {% if not message.readtime %}<span class="label label-important">*</span>{% endif %}</td>
  </tr>
  {% endfor %}
</table>


{% if page_count > 1 %}
<div class="pagination pagination-centered">
  <ul>
  <li{% if page_current == 1 %} class="active"{% endif %}>
      <a href="{% if page_current == 1 %}javascript:void(0);{% else %}{{ url_for('mymessage',pagenum=page_current-1) }}{% endif %}">&laquo;</a></li>
  {% for page in range(1,page_count+1) %}
  <li{% if page == page_current %} class="active"{% endif %}>
      <a href="{{ url_for('mymessage',pagenum=page) }}">{{ page }}</a></li>
  {% endfor %}
  <li{% if page_current == page_count %} class="active"{% endif %}>
      <a href="{% if page_current == page_count %}javascript:void(0);{% else %}{{ url_for('mymessage',pagenum=page_current+1) }}{% endif %}">&raquo;</a></li>
  </ul>
</div>
{% endif %}

{% else %}
<p>你暂时没有消息。</p>
{% endif %}

<p>
  <a class="btn btn-success" href="{{url_for('mymessagereadall')}}">全部标为已读</a>
</p>

{% endblock %}
