{% extends "layout.html" %}
{% set css_list = ['lightbox'] %}
{% set script_list = ['lightbox.min'] %}

{% block body %}

<div class="page-header">
  <h1>{{ member.name }}</h1>
</div>

{% for message in get_flashed_messages() %}
  <div class="alert alert-{{message.type}}">{{ message.content }}</div>
{% endfor %}

<div class="row">
<div class="span4">
<h4>基本信息</h4>
<table class="table table-striped">
  <tr><th>学号</th><td>{{ member.uid }}</td></tr>
  <tr><th>姓名</th><td>{{ member.name }}</td></tr>
  <tr><th>性别</th><td>{{ member.sex|sexname() }}</td></tr>
  <tr><th>专业</th><td>{{ member.school }}</td></tr>
  <tr><th>电话号码</th><td>{{ member.mobile_num }}</td></tr>
  <tr><th>电话类型</th><td>{{ member.mobile_type|mobiletypename() }}</td></tr>
  <tr><th>电话短号</th><td>{{ member.mobile_short }}</td></tr>
  <tr><th>QQ</th><td>{{ member.qqnum }}</td></tr>
  <tr><th>邮箱</th><td>{{ member.email }}</td></tr>
  <tr><th>住址</th><td>{{ member.address }}</td></tr>
  <tr><th>最近登录</th><td>{{ member.lastlogin_time|timeformat('%Y-%m-%d %H:%M:%S') }}</td></tr>
  <tr><th>状态</th><td>{{ member.type|membertypename }}</td></tr>
</table>
</div>
<div class="span8">
<h4>照片</h4>
{% if member.photo %}
<div id="member-images-box">
  {% for photo in member.getphotos() %}
  {% if photo %}
  <a href="{{photo}}" data-lightbox="roadtrip" class="image-link">
    <img src="{{photo}}" class="img-polaroid" />
  </a>
  {% endif %}
  {% endfor %}
</div>
{% else %}
<p>还没上传。</p>
{% endif %}
<hr />

<h4>个人简介</h4>
{% if member.introduce %}
<p>{{ member.introduce }}</p>
{% else %}
<p>还没填写。</p>
{% endif %}
<hr />
{% if session['is_arra_monitor'] %}
    <a class="btn btn-small" href="{{ url_for('memberactas',member_uid=member.uid) }}">切换用户</a>
    {% if session['ori_uid'] %}
        <a class="btn btn-small" href="{{ url_for('memberactas',member_uid=session['ori_uid']) }}">切回{{ session['ori_name'] }}</a>
    {% endif %}
{% endif %}
</div>

</div>
<hr />


<h4>近期课表</h4>

    <table class="table table-striped table-condensed">
    <tr><th>第{{ weeknum }}周</th>{% for t in range(weekstart,weekstart+7*86400,86400) %}<th>{{ t|timeformat('%m月%d日') }} {{ t|dayname }}</th>{% endfor %}</tr>
    {% for i in range(1,13) %}
        <tr><th>第{{ i }}节</th>{% for t in range(weekstart,weekstart+7*86400,86400) %}<td>{{ schedule_table[t|timeformat('%Y-%m-%d')][i-1] }}</td>{% endfor %}</tr>
    {% endfor %}
    </table>

<hr />

<h4>本月值班记录</h4>
{% if duty_list %}
<table class="table table-striped">
  <tr><th width='80'>日期</th><th width='90'>值班时间</th><th width='50'>时长</th><th width='30'>地点</th><th>活动</th><th>状态</th><th>记录</th></tr>
  {% for duty in duty_list %}{% if duty.is_success() %}
  <tr><td>{{ duty.activity.work_start_time|timeformat('%Y-%m-%d') }}</td>
      <td>{{ duty.activity.work_start_time|timeformat('%H:%M') }} - {% if duty.activity.end_time %}{{ duty.activity.end_time|timeformat('%H:%M') }}{% else %} ? {% endif %}</td>
      <td>{% if duty.activity.work_last_time() != 0.0 %}{{ duty.activity.work_last_time() }}{% endif %}</td>
      <td><span class="label label-{{ duty.activity.venue|venuecolor }}">{{ duty.activity.venue|venuename }}</span></td>
      <td><a href="{{url_for('activitydetail',activity_id=duty.aid)}}">{{ duty.activity.title }}</a></td>
      <td><span class="label label-{{ duty.status|dutystatuscolor }}">{{ duty.status|dutystatusname }}</span></td>
      <td>{% for log in duty.getlogs() %}
          [{{log.type|dutylogtypename}}]:{{log.content}}<br />
      {% endfor %}</td></tr>
  {% endif %}{% endfor %}
</table>
{% else %}
<p>本学期还没有值班的记录。</p>
{% endif %}


{% endblock %}
