{% extends "layout.html" %}


{% block body %}

<form class="form-horizontal" id="form" action="{{request.url}}" method="POST">
{% for message in get_flashed_messages() %}
  <div class="alert alert-{{message.type}}">{{ message.content }}</div>
{% endfor %}
<div class="row">
<div class="span4">
<h4>基本信息</h4>

  <div class="control-group{% if form.uid.errors %} error{% endif %}">
    <label class="control-label" for="inputUid">学号</label>
    <div class="controls">
      {% if member_uid %}
        <span class="uneditable-input">{{member_uid}}</span>
      {% else %}
        {{form.uid()}}
      {% endif %}
    {% if form.uid.errors %}
      <span class="help-inline">{% for message in form.uid.errors %}{{ message }}<br />{% endfor %}</span>
    {% endif %}
    </div>
  </div>

  <div class="control-group{% if form.name.errors %} error{% endif %}">
    <label class="control-label" for="inputName">姓名</label>
    <div class="controls">{{form.name()}}
    {% if form.name.errors %}
      <span class="help-inline">{% for message in form.name.errors %}{{ message }}<br />{% endfor %}</span>
    {% endif %}
    </div>
  </div>
  
  <div class="control-group{% if form.sex.errors %} error{% endif %}">
    <label class="control-label" for="inputSex">性别</label>
    <div class="controls">{{form.sex()}}
    {% if form.sex.errors %}
      <span class="help-inline">{% for message in form.sex.errors %}{{ message }}<br />{% endfor %}</span>
    {% endif %}
    </div>
  </div>

  <div class="control-group{% if form.school.errors %} error{% endif %}">
    <label class="control-label" for="inputSchool">专业</label>
    <div class="controls">{{form.school()}}
    {% if form.school.errors %}
      <span class="help-inline">{% for message in form.school.errors %}{{ message }}<br />{% endfor %}</span>
    {% endif %}
    </div>
  </div>
  
  <div class="control-group{% if form.mobile_num.errors %} error{% endif %}">
    <label class="control-label" for="inputMobile_num">电话号码</label>
    <div class="controls">{{form.mobile_num()}}
    {% if form.mobile_num.errors %}
      <span class="help-inline">{% for message in form.mobile_num.errors %}{{ message }}<br />{% endfor %}</span>
    {% endif %}
    </div>
  </div>
  
  <div class="control-group{% if form.mobile_type.errors %} error{% endif %}">
    <label class="control-label" for="inputMobile_type">电话类型</label>
    <div class="controls">{{form.mobile_type()}} 
    {% if form.mobile_type.errors %}
      <span class="help-inline">{% for message in form.mobile_type.errors %}{{ message }}<br />{% endfor %}</span>
    {% endif %}
    </div>
  </div>
  
  <div class="control-group{% if form.mobile_short.errors %} error{% endif %}">
    <label class="control-label" for="inputMobile_short">电话短号</label>
    <div class="controls">{{form.mobile_short()}} 
    {% if form.mobile_short.errors %}
      <span class="help-inline">{% for message in form.mobile_short.errors %}{{ message }}<br />{% endfor %}</span>
    {% endif %}
    </div>
  </div>
  
  <div class="control-group{% if form.qqnum.errors %} error{% endif %}">
    <label class="control-label" for="inputQQnum">QQ</label>
    <div class="controls">{{form.qqnum()}} 
    {% if form.qqnum.errors %}
      <span class="help-inline">{% for message in form.qqnum.errors %}{{ message }}<br />{% endfor %}</span>
    {% endif %}
    </div>
  </div>
  
  <div class="control-group{% if form.email.errors %} error{% endif %}">
    <label class="control-label" for="inputEmail">电子邮箱</label>
    <div class="controls">{{form.email()}}
    {% if form.email.errors %}
      <span class="help-inline">{% for message in form.email.errors %}{{ message }}<br />{% endfor %}</span>
    {% endif %}
     </div>
  </div>
  
  <div class="control-group{% if form.address.errors %} error{% endif %}">
    <label class="control-label" for="inputAddress">住址</label>
    <div class="controls">{{form.address()}} 
    {% if form.address.errors %}
      <span class="help-inline">{% for message in form.address.errors %}{{ message }}<br />{% endfor %}</span>
    {% endif %}
    </div>
  </div>
  
  <div class="control-group{% if form.credit_card.errors %} error{% endif %}">
    <label class="control-label" for="inputCredit_card">银行卡号</label>
    <div class="controls">{{form.credit_card()}} 
    {% if form.credit_card.errors %}
      <span class="help-inline">{% for message in form.credit_card.errors %}{{ message }}<br />{% endfor %}</span>
    {% endif %}
    </div>
  </div>
  
  <div class="control-group{% if form.type.errors %} error{% endif %}">
    <label class="control-label" for="inputType">状态</label>
    <div class="controls">{{form.type()}}
    {% if form.type.errors %}
      <span class="help-inline">{% for message in form.type.errors %}{{ message }}<br />{% endfor %}</span>
    {% endif %}
    </div>
  </div>

</div>
<div class="span8">

<h4>个人简介</h4>
{{form.introduce(rows="15", class="span8")}}

</div>
</div>

<div class="form-actions">
  {{ form.csrf_token }}
  <button type="submit" class="btn btn-primary">保存</button>
  <a class="btn">取消</a>
</div>

</form>


{% endblock %}
