# chenfeng's acgweb project
1,7,31,37 * * * * curl http://acg.husteye.cn/cron >> /home/wwwroot/chenfeng/uwsgi/acgweb/cron.log 2>&1
2 20 * * * cd /home/wwwroot/chenfeng/uwsgi/acgweb; ./env/bin/python tools/classify_activity.py 2>&1
