{% from "navbar.html" import navbar_mobile %}
<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block page_title %}音控组管理系统{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <!-- Bootstrap -->
    <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
    {% for css in css_list %}
      <link href="{{url_for('static',filename='css/%s.css'%(css))}}" rel="stylesheet">
    {% endfor %}
    <link href="{{url_for('static',filename='css/acgweb_mobile.css')}}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
<div class="container">
{{ navbar_mobile() }}
{% block body %}
{% endblock %}
<div class="footer text-center">
    音控组管理系统
    <a href="{{ url_for('set',key='vt',value='1') }}">手机版</a>
    <a href="{{ url_for('set',key='vt',value='0') }}">电脑版</a>
    <a href="{{ url_for('set',key='vt') }}">自动选择</a>
</div>
</div>
    <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    {% for script in script_list %}
      <script src="{{url_for('static',filename='js/%s.js'%(script))}}"></script>
    {% endfor %}
    {% block custom_script %}{% endblock %}
  </body>
</html>
