{% macro wysiwyg() %}

<div id="alerts"></div>

<div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
  <div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" title="字体"><i class="icon-font"></i><b class="caret"></b></a>
      <ul class="dropdown-menu"></ul>
  </div>
  <div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" title="字号"><i class="icon-text-height"></i>&nbsp;<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a data-edit="fontSize 5"><font size="5">大号字体</font></a></li>
      <li><a data-edit="fontSize 3"><font size="3">中号字体</font></a></li>
      <li><a data-edit="fontSize 1"><font size="1">小号字体</font></a></li>
    </ul>
  </div>
  <div class="btn-group">
    <a class="btn" data-edit="bold" title="加粗 (Ctrl/Cmd+B)"><i class="icon-bold"></i></a>
    <a class="btn" data-edit="italic" title="斜体 (Ctrl/Cmd+I)"><i class="icon-italic"></i></a>
    <a class="btn" data-edit="underline" title="下划线 (Ctrl/Cmd+U)"><i class="icon-underline"></i></a>
  </div>
  <div class="btn-group">
    <a class="btn" data-edit="insertunorderedlist" title="列表"><i class="icon-list-ul"></i></a>
    <a class="btn" data-edit="insertorderedlist" title="标号"><i class="icon-list-ol"></i></a>
    <a class="btn" data-edit="outdent" title="减小缩进(Shift+Tab)"><i class="icon-indent-left"></i></a>
    <a class="btn" data-edit="indent" title="增加缩进(Tab)"><i class="icon-indent-right"></i></a>
  </div>
  <div class="btn-group">
    <a class="btn" data-edit="justifyleft" title="左对齐 (Ctrl/Cmd+L)"><i class="icon-align-left"></i></a>
    <a class="btn" data-edit="justifycenter" title="居中 (Ctrl/Cmd+E)"><i class="icon-align-center"></i></a>
    <a class="btn" data-edit="justifyright" title="右对齐 (Ctrl/Cmd+R)"><i class="icon-align-right"></i></a>
    <a class="btn" data-edit="justifyfull" title="均匀对齐 (Ctrl/Cmd+J)"><i class="icon-align-justify"></i></a>
  </div>
  <div class="btn-group">
	  <a class="btn dropdown-toggle" data-toggle="dropdown" title="超级链接"><i class="icon-link"></i></a>
	    <div class="dropdown-menu input-append">
		    <input class="span4" placeholder="链接地址" type="text" data-edit="createLink"/>
		    <button class="btn" type="button">添加</button>
    </div>
  </div>
  <div class="btn-group">
    <a class="btn" data-edit="undo" title="撤销 (Ctrl/Cmd+Z)"><i class="icon-undo"></i></a>
    <a class="btn" data-edit="redo" title="重做 (Ctrl/Cmd+Y)"><i class="icon-repeat"></i></a>
  </div>

</div>


{% endmacro %}

